.login-page {
    overflow-x: hidden;
    .left-side {
        background-color:$primary;
        color:white;
        background-size: cover;
        &.signup {
            background: url("/assets/images/auth/register-bg.jpg");
        }
        background: url("/assets/images/auth/login-bg.jpg");
    }
}